<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUhgBQ_phM8RNKkRra48MYVDbJu9qL93w</string>
	<key>GCM_SENDER_ID</key>
	<string>949722474929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SurfApp</string>
	<key>PROJECT_ID</key>
	<string>surfapp-3542e</string>
	<key>STORAGE_BUCKET</key>
	<string>surfapp-3542e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949722474929:ios:dd6b03fd3ca0e6f2b47590</string>
</dict>
</plist>